
	<form ng-submit="enviar();">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="miForm.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Apellido</span>
          <input type="text" ng-model="miForm.legajo">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="miForm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="miForm.password">
        </label>
         <label class="item">
         <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
    </form>